#map {
    height: 100%;
    width: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  /* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  } */
  element.style {
    position: relative;
    overflow: visible;
}
.container {
    background-color: rgb(20, 20, 50, .8);
    max-width: 1413px;
}
body {
    background-color: black
}

  